
<h1>Project {{owner}} / {{repo}}</h1>

<h2>Project Source</h2>
<a href="{{analysis.id.url}}">{{analysis.id.url}}</a>

<h2>Detail</h2>

<i>Expose any custom data from the analysis here.</i>

<h2>Language Breakdown</h2>

{{> sunburst }}

<!--
<script>
sunburst("Name", `{{{dataUrl}}}`, 200, 200);
</script>

-->

