<h1>Atomist Explorer</h1>

{{ repos.length }} projects

<br>

{{#each repos }}

<li>
    <b><a href="/project/{{this.analysis.id.owner}}/{{this.analysis.id.repo}}">
            {{this.analysis.id.repo}}</a></b>: <a href="{{this.analysis.id.url}}">{{this.analysis.id.url}}</a>
</li>

{{/each}}